language: python
python: '3.6'
cache: pip
before_install:
- openssl aes-256-cbc -K $encrypted_2883e12ed14b_key -iv $encrypted_2883e12ed14b_iv -in keyfile.enc -out keyfile -d
install:
- pip install -r requirements.txt
- sudo bash install_gitcrypt.sh
script:
  - git-crypt unlock keyfile
  - ./manage.py drop_test_database --noinput && ./manage.py test && ./manage.py drop_test_database --noinput

deploy:
  provider: script
  script: "./zappa_deploy.sh"
  on:
    all_branches: true
    condition: $TRAVIS_BRANCH =~ ^develop|master$